* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202124;
  color: white;
}

/* header */
header ul {
  list-style: none;
  float: right;
}

li {
  display: inline-block;
}

/* main */
main {
  clear: both;
  text-align: center;
  padding-top: 230px;
}

main h1 {
  font-size: 100px;
}

main .input .search {
  width: 600px;
  height: 40px;
  border: 1px solid #5F6368;
  background-color: #202124;
  border-radius: 45px;
  margin: 20px;
}

main .button {
  margin: 10px;
  margin-bottom: 30px;
}

main .button button {
  background-color: #303134;
  border-width: 0;
  color: white;
  padding: 10px;
  margin: 5px
}

main .language {
  font-size: 15px;
}

main .language span {
  color: #8AB4F8;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #171717;
  color: #9AA0A6;
}

.footer1 {
  border-bottom: 1px solid #212327;
  padding: 14.5px;
  padding-left: 30px;
}

.footer2 {
  height: 46px;
  line-height: 46px;
}

.footer2 li {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.info1 {
  float: left;
  margin-left: 100px;
}

.info2 {
  float: right;
  margin-right: 100px;
}