body {
  background-color: #202124;
  color: white;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  float: right;
}

li {
  display: inline-block;
}

main {
  clear: both;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #171717;
}